[workspace]
members = ["cargo:."]

# Config for 'dist'
[dist]
# The preferred dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.30.2"
# CI backends to support
ci = "github"
# Target platforms to build apps for (Rust target-triple syntax)
targets = ["x86_64-unknown-linux-gnu"]
# The installers to generate for each app
installers = []
# Which actions to run on pull requests
pr-run-mode = "plan"

[dist.github-custom-runners]
global = "ubuntu-24.04"
